<?xml version="1.0"?>
<!-- ***************************************************************************
Application: Course Outcomes WCF
Location: https://bellevuecollege.edu/ws/courseoutcomes/Service1.svc
Source: https://github.com/BellevueCollege/CourseOutcomesWCF
Documentation: 

Description:
This is a web service that is used by the class schedule to display course outcomes. 
*****************************************************************************-->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.1">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <!--
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpTransportSecurity">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
-->
  <system.serviceModel>
    <services>
      <service name="CourseOutcomesWCF.CourseOutcomes" behaviorConfiguration="DefaultBehavior">
        <endpoint address="" binding="wsHttpBinding" contract="CourseOutcomesWCF.IService1" bindingConfiguration="wsHttps"/>
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultBehavior">
          <serviceThrottling maxConcurrentCalls="50" maxConcurrentSessions="50"/>
          <serviceMetadata httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false" httpsHelpPageEnabled="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttps" maxReceivedMessageSize="50000000" maxBufferPoolSize="50000000">
          <readerQuotas maxDepth="500000000" maxArrayLength="500000000" maxBytesPerRead="500000000" maxNameTableCharCount="500000000" maxStringContentLength="500000000"/>
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <connectionStrings>
    <add name="CurriculumEntities" connectionString="metadata=res://*/Model.CurriculumDB.csdl|res://*/Model.CurriculumDB.ssdl|res://*/Model.CurriculumDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DB_SERVER_NAME;initial catalog=Curriculum;Integrated Security=true;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>